<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgetpassword</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="../static/javascript/web2.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
             $(document).ready(function () {
            $("#myForm").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/updatepwdcon',
                    data: $(this).serialize(),
                    success: function (response) {
                        let errmsg=document.getElementById('errors');
                        let user=document.getElementById('uname');
                        let old=document.getElementById('pwd');
                        let newp = document.getElementById('npwd');
                        let con=document.getElementById('cpwd');

                        if (response.msg === 'same') {
                            newp.classList.add("shake");
                            newp.classList.add("bor");
                            setTimeout(function() {
                            newp.classList.remove("shake");
                            }, 500);
                            errmsg.innerText="You are updating the same password...";
                        }else if (response.msg === 'newcon') {
                            con.classList.add("shake");
                            con.classList.add("bor");
                            setTimeout(function() {
                            con.classList.remove("shake");
                            }, 500);
                            errmsg.innerText="Incorrect newpassword and conform password...";
                        }else if (response.msg === 'incor') {
                            old.classList.add("shake");
                            old.classList.add("bor");
                            setTimeout(function() {
                            old.classList.remove("shake");
                            }, 500);
                            errmsg.innerText="Incorrect oldpassword...";
                        }else if(response.msg == "success"){
                            window.location.href="/signin";
                        }
                        
                    },
                    error: function () {
                        let errmsg=document.getElementById('errors');
                        let user=document.getElementById('uname');
                        errmsg.innerText="There is no user with "+user.value+" ...";
                        user.classList.add("shake");
                        user.classList.add("bor");
                        setTimeout(function() {
                        user.classList.remove("shake");
                        }, 500);
                    }
                });
            });
        });
        function clears(){
            let errmsg=document.getElementById('errors');
            let user=document.getElementById('uname');
            let old=document.getElementById('pwd');
            let newp = document.getElementById('npwd');
            let con=document.getElementById('cpwd');
            let ids=[old,newp,con,user]
            ids.forEach(id => {
                id.classList.remove('bor');
            });
            errmsg.innerText="";
        }
    </script>
    <style>
         body{
          background-image: linear-gradient(90deg, rgba(255,0,0,0), rgb(0, 183, 255));
        }
        #cont{
          
          min-width: 350px;
          max-width: 35%;
          border: 1.5px solid rgba(0, 0, 0, 0.596);
          box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.596);
        }
        #errors{
            color: red;
            font-size: medium;
        }
        .bor{
            border-color: red;
        }
        .shake {
        animation: shake 0.15s ease-in-out;
        }
        @keyframes shake {
            0%, 100% {
                transform: translateX(0);
            }
            25%, 75% {
                transform: translateX(-10px);
            }
            50% {
                transform: translateX(10px);
            }
        }

      
    </style>
</head>
<body>
   
    <div class="container-lg p-4 mx-auto rounded-2 border-1 mt-5 " id="cont">
        <b><i class="bi-box-arrow-left" onclick="signin()"></i></b>


        <center><h2>Change password</h2></center><br>
        <form id="myForm" action="/updatepwdcon" method="post">
            <div>
                <center>
                    <p id="errors"></p>
                </center>
            </div>
            <div>
                <label for="uname" class="pt-3 fw-bold">User Name:</label>
                <input type="text" id="uname" name="username" class="form-control" required>
            </div>
           <div>
                <label for="pwd" class="pt-3 fw-bold">old Password:</label>
                <input type="password" id="pwd" name="old_password" class="form-control" required>
            </div>
            <div>
                <label for="npwd" class="pt-3 fw-bold">new Password:</label>
                <input type="password" id="npwd" name="new_password" class="form-control" required>
            </div>
            <div>
                <label for="cpwd" class="pt-3 fw-bold">Conform Password:</label>
                <input type="password" id="cpwd" name="con_password" class="form-control" required>
            </div>
            <p class="text-primary" onclick="tryotp()">try another way</p>
            <div onclick="clears()">
                <center><button type="submit" class="center btn btn-primary rounded-1">Update password</button></center>
            </div>
            
        </form>
    </div>

</body>
</html>